
/* 
These are the styles for the whole document
*/



.main-title {
background: red; /*comment within ruleset*/
/* padding-top: 10px;
padding-bottom: 10px;
padding-left: 35px;
padding-right: 35px; */
/* padding: 10px 35px;
margin: 0; */
padding: 10px 35px 12px 25px;
/* Top, Right, Bottom, Left */
margin: 0;
}

.fancy-font , .navbar{
    font-family: 'Oswald', sans-serif;
    /* named color */
    color:cornflowerblue;
    color: rgb(24, 11, 169);
}